<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <a [routerLink]="['data']" class="active nav-link">
                            <li>Data</li>
                        </a>
                        <a [routerLink]="['geo-spatial']" class="nav-link">
                            <li>Geo Spatial</li>
                        </a>
                        <a [routerLink]="['key-metrics']" class="nav-link">
                            <li>Key Metrics</li>
                        </a>
                    </ul>
                </div>
            </nav>
            <a href="#" class="nav-link" style="margin-left: 10px">
                <clr-icon shape="dashboard"></clr-icon>
                <span class="title">Corporate Dashboard</span>
            </a>
        </div>
        <div class="nav-menu">
        </div>
        <div class="header-actions">
            <a href="#" class="nav-link nav-icon">
                <span class="spinner spinner-inverse spinner-md" style="margin-top: 10px" *ngIf="(isLoading | async)">
                    Loading...
                </span>
            </a>
        </div>
    </header>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>
